{% extends 'base.html' %}
{% load static %}

{% block title %}About Us - BRTL{% endblock %}
{% block nav_about %}current{% endblock %}

{% block content %}

        <!-- page-title -->
        <section class="page-title p_relative centred">
            <div class="bg-layer" style="background-image: url('{% static 'assets/images/background/page-title.jpg' %}');"></div>
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url('{% static 'assets/images/shape/shape-14.png' %}');"></div>
                <div class="pattern-2" style="background-image: url('{% static 'assets/images/shape/shape-14.png' %}');"></div>
                <div class="pattern-3 rotate-me" style="background-image: url('{% static 'assets/images/shape/shape-15.png' %}');"></div>
                <div class="pattern-4 float-bob-y" style="background-image: url('{% static 'assets/images/shape/shape-16.png' %}');"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>About Us</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- about-section -->
        <section class="about-section">
            <div class="pattern-layer" style="background-image: url('{% static 'assets/images/shape/shape-2.png' %}');"></div>
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_one">
                            <div class="content-box mr_40">
                                <div class="sec-title mb_25">
                                    <span class="sub-title">About Us</span>
                                    <h2>Experience in waste disposal management services</h2>
                                </div>
                                <p>BRTL (BD Recycle Technologies Limited) is committed to sustainable waste management, helping households and businesses across Dhaka dispose of waste responsibly while promoting recycling and environmental care.</p>
                                <ul class="list-style-one mb_35 clearfix">
                                    <li>Waste Collection & Disposal</li>
                                    <li>Recycling & Material Recovery</li>
                                    <li>Sustainable Environmental Solutions</li>
                                </ul>
                                <div class="btn-box">
                                    <a href="{% url 'contact' %}" class="theme-btn btn-one shadow"><span>Contact Us</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_one">
                            <div class="image-box pl_130 ml_30">
                                <div class="image-shape"><img src="{% static 'assets/images/shape/shape-3.png' %}" alt=""></div>
                                <figure class="image image-1"><img src="{% static 'assets/images/resource/about-1.jpg' %}" alt=""></figure>
                                <figure class="image image-2"><img src="{% static 'assets/images/resource/about-2.jpg' %}" alt=""></figure>
                                <figure class="image image-3"><img src="{% static 'assets/images/resource/about-3.jpg' %}" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about-section end -->


        <!-- feature-style-two -->
        <section class="feature-style-two about-page pb_150 centred">
            <div class="auto-container">
                <div class="sec-title mb_50">
                    <span class="sub-title">Features Services</span>
                    <h2>A wide range of waste <br />disposal services</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="static-shape" style="background-image: url('{% static 'assets/images/shape/shape-18.png' %}');"></div>
                                    <div class="overlay-shape" style="background-image: url('{% static 'assets/images/shape/shape-19.png' %}');"></div>
                                    <div class="icon"><i class="icon-12"></i></div>
                                </div>
                                <h3><a href="{% url 'service' %}">Garbage Pickup</a></h3>
                                <p>Scheduled collection for homes and businesses across Dhaka.</p>
                                <div class="link">
                                    <a href="{% url 'service' %}"><i class="icon-7"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-two wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="static-shape" style="background-image: url('{% static 'assets/images/shape/shape-18.png' %}');"></div>
                                    <div class="overlay-shape" style="background-image: url('{% static 'assets/images/shape/shape-19.png' %}');"></div>
                                    <div class="icon"><i class="icon-13"></i></div>
                                </div>
                                <h3><a href="{% url 'service' %}">Dumpster Rental</a></h3>
                                <p>Flexible dumpster rental options for short and long term needs.</p>
                                <div class="link">
                                    <a href="{% url 'service' %}"><i class="icon-7"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-two wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="static-shape" style="background-image: url('{% static 'assets/images/shape/shape-18.png' %}');"></div>
                                    <div class="overlay-shape" style="background-image: url('{% static 'assets/images/shape/shape-19.png' %}');"></div>
                                    <div class="icon"><i class="icon-14"></i></div>
                                </div>
                                <h3><a href="{% url 'service' %}">Waste Collection</a></h3>
                                <p>Reliable pickup and transport of waste materials, safely handled.</p>
                                <div class="link">
                                    <a href="{% url 'service' %}"><i class="icon-7"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                        <div class="feature-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <div class="static-shape" style="background-image: url('{% static 'assets/images/shape/shape-18.png' %}');"></div>
                                    <div class="overlay-shape" style="background-image: url('{% static 'assets/images/shape/shape-19.png' %}');"></div>
                                    <div class="icon"><i class="icon-27"></i></div>
                                </div>
                                <h3><a href="{% url 'service' %}">Recycling Service</a></h3>
                                <p>Turning collected waste into reusable resources through recycling.</p>
                                <div class="link">
                                    <a href="{% url 'service' %}"><i class="icon-7"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="more-btn mt_60">
                    <a href="{% url 'service' %}" class="theme-btn"><span>More Services</span></a>
                </div>
            </div>
        </section>
        <!-- feature-style-two end -->


        <!-- cta-style-two -->
        <section class="cta-style-two">
            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url('{% static 'assets/images/shape/shape-23.png' %}');"></div>
                <div class="pattern-2" style="background-image: url('{% static 'assets/images/shape/shape-22.png' %}');"></div>
                <div class="pattern-3" style="background-image: url('{% static 'assets/images/shape/shape-22.png' %}');"></div>
                <div class="pattern-4 rotate-me" style="background-image: url('{% static 'assets/images/shape/shape-8.png' %}');"></div>
                <div class="pattern-5 float-bob-y" style="background-image: url('{% static 'assets/images/shape/shape-24.png' %}');"></div>
            </div>
            <div class="auto-container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image-box">
                            <div class="image-shape" style="background-image: url('{% static 'assets/images/shape/shape-22.png' %}');"></div>
                            <figure class="image"><img src="{% static 'assets/images/resource/truck-1.png' %}" alt=""></figure>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content-box ml_30">
                            <h2>Become our customer & get special service</h2>
                            <div class="btn-box">
                                <a href="{% url 'contact' %}" class="theme-btn btn-one"><span>Request A Pickup</span></a>
                                <a href="{% url 'contact' %}" class="theme-btn btn-two"><span>Request A Pickup</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-style-two end -->


        <!-- testimonial-section -->
        <section class="testimonial-section centred sec-pad">
            <div class="auto-container">
                <div class="sec-title mb_50">
                    <span class="sub-title">Testimonials</span>
                    <h2>What our clients say <br />about BRTL</h2>
                </div>
                <div class="three-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text-box">
                                <ul class="rating clearfix">
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-22"></i></li>
                                </ul>
                                <p>BRTL has made waste management so much easier for our office. Their pickup is always on time and the team is very professional.</p>
                                <figure class="thumb-box"><img src="{% static 'assets/images/resource/testimonial-1.png' %}" alt=""></figure>
                            </div>
                            <div class="author-box">
                                <h3>Rahim Uddin</h3>
                                <span class="designation">Business Owner</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text-box">
                                <ul class="rating clearfix">
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-22"></i></li>
                                </ul>
                                <p>Excellent recycling service. BRTL really cares about sustainability and it shows in how they handle our waste responsibly.</p>
                                <figure class="thumb-box"><img src="{% static 'assets/images/resource/testimonial-2.png' %}" alt=""></figure>
                            </div>
                            <div class="author-box">
                                <h3>Nusrat Jahan</h3>
                                <span class="designation">Homeowner</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-block-one">
                        <div class="inner-box">
                            <div class="text-box">
                                <ul class="rating clearfix">
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-21"></i></li>
                                    <li><i class="icon-22"></i></li>
                                </ul>
                                <p>Reliable, consistent, and eco-conscious. Working with BRTL has helped our company stay clean and sustainable year-round.</p>
                                <figure class="thumb-box"><img src="{% static 'assets/images/resource/testimonial-3.png' %}" alt=""></figure>
                            </div>
                            <div class="author-box">
                                <h3>Kamal Hossain</h3>
                                <span class="designation">Facility Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-section end -->


        <!-- materials-section -->
        <section class="materials-section alternat-2">
            <div class="inner-container">
                <div class="auto-container">
                    <div class="shape">
                        <div class="shape-1" style="background-image: url('{% static 'assets/images/shape/shape-9.png' %}');"></div>
                        <div class="shape-2 rotate-me" style="background-image: url('{% static 'assets/images/shape/shape-10.png' %}');"></div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 title-column">
                            <div class="sec-title light pr_90">
                                <span class="sub-title">Recycle Materials</span>
                                <h2>We collect, <br />recycle & disposal <br />all materials</h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 list-column">
                            <div class="list-inner pl_140">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <ul class="list-style-one clearfix">
                                            <li>Steel</li>
                                            <li>Plastic</li>
                                            <li>Lights & Bulbs</li>
                                            <li>Books & Papers</li>
                                            <li>Bottles</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <ul class="list-style-one clearfix">
                                            <li>Food & Grocery</li>
                                            <li>Common Waste</li>
                                            <li>Newspaper</li>
                                            <li>Electronics</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- materials-section end -->


        <!-- team-section -->
        <section class="team-section alternat-2 sec-pad centred">
            <div class="auto-container">
                <div class="sec-title mb_50">
                    <span class="sub-title">Our Experts</span>
                    <h2>Our experts staff & <br />Members</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one mb_25 wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{% static 'assets/images/team/team-11.jpg' %}" alt=""></figure>
                                <div class="lower-content">
                                    <h3><a href="{% url 'about' %}">Team Member</a></h3>
                                    <span class="designation">Manager</span>
                                    <div class="share-box">
                                        <div class="share-icon"><i class="fas fa-share-alt"></i></div>
                                        <ul class="social-links clearfix">
                                            <li><a href="{% url 'home' %}"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="{% url 'home' %}"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{% url 'home' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one mb_25 wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{% static 'assets/images/team/team-12.jpg' %}" alt=""></figure>
                                <div class="lower-content">
                                    <h3><a href="{% url 'about' %}">Team Member</a></h3>
                                    <span class="designation">Co-Founder</span>
                                    <div class="share-box">
                                        <div class="share-icon"><i class="fas fa-share-alt"></i></div>
                                        <ul class="social-links clearfix">
                                            <li><a href="{% url 'home' %}"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="{% url 'home' %}"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{% url 'home' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one mb_25 wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <figure class="image-box"><img src="{% static 'assets/images/team/team-13.jpg' %}" alt=""></figure>
                                <div class="lower-content">
                                    <h3><a href="{% url 'about' %}">Team Member</a></h3>
                                    <span class="designation">Accountant</span>
                                    <div class="share-box">
                                        <div class="share-icon"><i class="fas fa-share-alt"></i></div>
                                        <ul class="social-links clearfix">
                                            <li><a href="{% url 'home' %}"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="{% url 'home' %}"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="{% url 'home' %}"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-section end -->

{% endblock %}