{% extends 'base.html' %}
{% load static %}


{% block content %}




        <!-- page-title -->
        <section class="page-title p_relative centred">
            <div class="bg-layer" style="background-image: url('{% static "assets/images/background/page-title.jpg" %}');"></div>

            <div class="pattern-layer">
                <div class="pattern-1" style="background-image: url('{% static "assets/images/shape/shape-14.png" %}');"></div>

                <div class="pattern-2" style="background-image: url('{% static "assets/images/shape/shape-14.png" %}');"></div>

                <div class="pattern-3 rotate-me" style="background-image: url('{% static "assets/images/shape/shape-15.png" %}');"></div>

                <div class="pattern-4 float-bob-y" style="background-image: url('{% static "assets/images/shape/shape-16.png" %}');"></div>
            </div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Blog Grid</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Grid</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- blog-grid -->
        <section class="blog-grid pt_150 pb_150">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-4.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">12 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Largest waste management company</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Devon Lane</a>
                                        </li>
                                        <li><i class="icon-25"></i>20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-5.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">11 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Approved wastix disposal facility expands capacity</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Haris Gan</a>
                                        </li>
                                        <li><i class="icon-25"></i>25</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-6.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">10 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Waste management container or bin for my home?</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Ema Wats</a>
                                        </li>
                                        <li><i class="icon-25"></i>15</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-7.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">09 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Wastix rollout first residential plastic recycling</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Devon Lane</a>
                                        </li>
                                        <li><i class="icon-25"></i>27</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-8.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">08 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Waste Management offers tips for holiday recycling</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Haris Gan</a>
                                        </li>
                                        <li><i class="icon-25"></i>12</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-9.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">07 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">$56M Capital investment to advance recycling</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Ema Wats</a>
                                        </li>
                                        <li><i class="icon-25"></i>06</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-10.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">06 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Podcasting operational change management system</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Devon Lane</a>
                                        </li>
                                        <li><i class="icon-25"></i>30</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-11.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">05 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Using garbage to recycling sustainable materials</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Haris Gan</a>
                                        </li>
                                        <li><i class="icon-25"></i>23</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                        <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="blog-details.html"><img src="{% static 'assets/images/news/news-12.jpg' %}" alt=""></a></figure>
                                    <span class="post-date">04 DEC</span>
                                </div>
                                <div class="lower-content">
                                    <span class="category">Management</span>
                                    <h3><a href="blog-details.html">Waste management elects sean menke and maryrose</a></h3>
                                    <p>Lorem ipsum dolor sit amet consectetur. Aliquet amet elementum.</p>
                                    <ul class="post-info clearfix">
                                        <li class="author-box">
                                            <div class="author-thumb"><img src="{% static 'assets/images/news/author-1.jpg' %}" alt=""></div>
                                            By <a href="blog-details.html">Ema Wats</a>
                                        </li>
                                        <li><i class="icon-25"></i>35</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-wrapper centred">
                    <ul class="pagination clearfix">
                        <li><a href="blog.html"><i class="far fa-angle-left"></i></a></li>
                        <li><a href="blog.html" class="current">1</a></li>
                        <li><a href="blog.html">2</a></li>
                        <li><a href="blog.html"><i class="far fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- blog-grid end -->

{% endblock %}
